*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
body{
    scroll-behavior: smooth;
}
:root{
    
    --primary-color: white;
    --secondary-color: black;
    /*
    --primary-color: rgb(43, 42, 51);
    --secondary-color: white;
    */
}
.hero{
    width: 100%;
    background: var(--primary-color);
    position: relative;
}
#icon{
    width: 25px;
    cursor: pointer;
}
.nav1{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    box-shadow: 3px 2px 4px white;
}
.nav1 .left{
    letter-spacing: 3px;
    color: red;
}
.nav1 .left img{
    border-radius: 25px;
}
.nav1 .middle{
    text-align: center;
    justify-content: space-around;
}
.nav1 .middle input{
    border-radius: 25px;
    cursor: black;
}
.nav1 .middle button{
    width: 60px;
    background-color: var(--primary-color);
    border-radius: 25px;
}
.nav1 .right{
    justify-content: space-between;
    text-align: center;
    display: flex;    
}
.nav1 .right .right1{
    width: 150px;
    display: flex;
    height: 30px;  
}
.nav1 .right .right1 h5{
    color: var(--primary-color);
    margin: 0px 10px;
}
.nav2{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #2b2a33;
    border: none;
    display: flex;
    justify-content: space-between;
}
.nav2 ul{
    list-style: none;
}
.nav2 ul li{
    display: inline-block;
    margin: 0px 8px;    
}
.nav2 ul li a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    display: block;
}
.nav2 ul li a:hover{
    color: blue;
}
.nav2 ul li i{
    color: red;
    margin: 0px 5px;
}
.carousel-inner{
    width: 100%;
    height: 350px;
}
.round {
    width: 100%;
    height: 190px;
    justify-content: space-around;
}
.round .round1{
    text-align: center; 
}
.round .round2{
    height: 130px;
    width: 120px;
    display: inline-block;
    justify-content: space-between;
    margin: 0px 40px;
}
.round .round2 img{
    height: 110px;
    width: 110px;
    border: none;
    border-radius: 73px;
}
.round .round2 h5{
    text-align: center;
}
.card0{
    width: 100%;
    height: 450px;
    background-color: rgba(217, 217, 217, 0.99);
    display: flex;
}
.card0 .card01{
    width: 370px;
    height: 400px;
    background-color: white;
    margin: 20px 25px;
    justify-content: space-between;
}
.card0 .card01 div{
    width: 150px;
    height: 150px;
    display: inline-table;
    padding: 0px 7px;
}
.card0 .card01 div img{
    width: 110px;
    height: 100px;
}
.new{
   padding: 50px 100px;
}
.prodct{
    text-align: center;
}
.prodct h2{
    color: red;
    font-size: 2rem;
    font-weight: bolder;
    word-spacing: 10px;
}
.prodct h2 span{
    color: var(--secondary-color);
}
.prodct p{
    color: blue;
    margin: 10px 0px;
    word-spacing: 3px;
}
.phone{
    padding: 0px 30px;
    text-decoration: overline;
    color: gray;
}
.card-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 40px;
}

.card-container .card{
    flex-basis: 20%;
    width: 100%;
    padding: 0.8rem;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--primary-color);
}
.card img{
    width: 100%;
    height: 250px;
}
.card .card-btn {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 70%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: red;
    color: var(--primary-color);
}
.card h5{
    color: var(--secondary-color);
}
.card i{
    color: gold ;
}
.card p{
    color: var(--secondary-color);
}
.card button {
    color: var(--primary-color);
    width: 50%;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    padding: 0px 0px;
}
.card button a{
    text-decoration: none;
    color: var(--primary-color);
}
.card2:hover img, .card:hover h5{
    color: red;
}
.card-container .card2{
    flex-basis: 20%;
    width: 100%;
    padding: 0.8rem;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
}
.card2  img{
    width: 100%;
    height: 150px;
}
.card2 .card-btn {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 70%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.card2:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: red;
    color: var(--primary-color);
}
.card2 i{
    color: gold ;
}
.card2 h5{
    color: blue;
}
.card2 h6{
    color: red;
}
.card2 p{
    color: var(--secondary-color);
}
.card2 button {
    color: var(--primary-color);
    width: 50%;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    padding: 0px 0px; 
}
.card2 button a{
    text-decoration: none;
    color: var(--primary-color);
}
.card2:hover img, .card2:hover h5{
    color: red;
}
.card2:hover img, .card2:hover h6{
    color: blue;
}
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
} 
.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-card {
    flex: 0 0 auto;
    width: 200px;
    height: 450px;
    margin-right: 40px;
} 
.product-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
} 
.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.discount-tag {
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    color: red;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: red;
    color: var(--primary-color);
} 
.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px; 
    cursor: pointer;
}
.product-info h6{
    color: var(--secondary-color);
}
i{
    color: gold ;
}
.product-info h6:hover{
    color: red;
}
.product-info p{
    color: var(--secondary-color);
}
button {
    width: 50%;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    padding: 0px 0px;
}
button a{
    text-decoration: none;
    color: var(--primary-color);
}
button a:hover{
    color: var(--primary-color);
}
.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}
.pre-btn {
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn {
    right: 0;
}
.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}
footer{
    background-color: black;
    padding: 30px 0px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 250px;
}
footer div{
    cursor: pointer;
}
footer div img{
    border-radius: 25px;
}
footer p{
    color: gray;
}
footer div{
    color: white;
}
footer div button{
    width: 150px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
footer div button a{
    color: black;
}
#sidenav{
    display: none;
}
#menubar{
    display: none;
}
@media only screen and (max-width:1030px){
    .round .round2{
        height: 100px;
        width: 80px;  
    }
    .round .round2 img{
        height: 110px;
        width: 110px;
    }
}
@media only screen and (max-width:999.33px){
    .round {
        width: 100%;
        height: 350px;
        padding-left: 70px;  
    }
    .round .round2 img{
        height: 90px;
        width: 90px;
    }
}
@media only screen and (max-width:989.33px){
    .card0{
        width: 100%;
        height: 390px; 
    }
    .card0 .card01{
        height: 350px;
        background-color: white;
        margin: 20px 3px;
        justify-content: space-between;
        padding: 0px 0px;
    }
    .card0 .card01 div{
        width: 110px;
        height: 90px;
        display: inline-table;
        padding-right: 10px;
    }
    .card0 .card01 div img{
        width: 80px;
        height: 70px;
    }
}
@media only screen and (max-width:767px){
    #sidenav{
        display: block;
    }
    #menubar{
        display: block;
        position: absolute;
        top: 3%;
        right: 0px;
        transform: translate(0%-50%);
        z-index: 99;
        background-color: red;
        color: var(--primary-color);
        font-size: 2rem;
        padding: 10px 7px;
        animation: animate 2s ease infinite;
    }
    @keyframes animate{
        0%{
            background-color: var(--secondary-color);
        }
        100%{
            background-color: red;
        }
    }
    #sidenav{
        width: 0px;
        height: 75vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: black;
        padding-top: 70px;
        display: block;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    #sidenav ul{
        list-style: none;
    }
    #sidenav ul li{
        display: block;
        width: 200px;
        position: relative;
        z-index: 99;
        margin: 10px 20px;
    }
    #sidenav ul li a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        display: block;
        font-size: 20px;
        padding: 10px 20px;
    }
    #sidenav ul li a:hover{
        color: blue;
    }
    #sidenav ul li i{
        color: red;
        margin: 0px 5px;
    }
    .nav1{
        position: relative;
        z-index: 2;
        height: 80px;
    }
    .nav2{
        display: none;
    }
    .new{
        padding: 0px 50px;
    }
    .carousel-inner{
        width: 100%;
        height: 150px;
    }
    .card-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        padding-left: 40px;
    }
    .card-container .card{
        flex-basis: 50%;
        
    }
    .card-container .card2{
        flex-basis: 50%;
    }
    .card0{
        width: 100%;
        height: 790px; 
    }
    .card0 .card01{
        height: 750px;
        background-color: white;
        margin: 20px 3px;
        justify-content: space-between;
    }
    .card0 .card01 div img{
        width: 100px;
        height: 90px;
    }
    footer{
        flex-basis: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        height: 450px;
    }
    .card0{
        width: 100%;
        height: 400px;
        background-color: rgba(217, 217, 217, 0.99);
        display: flex;
        text-size-adjust: 2px;
    }
    .card0 .card01{
        width: 180px;
        height: 350px;
        background-color: white;
        margin: 20px 3px;
        justify-content: space-between;
    }
    .card0 .card01 div{
        width: 75px;
        height: 90px;
        display: inline-table;
        flex-basis: 10%;
        padding: 0px 0px;
    }
    .card0 .card01 div img{
        width: 70px;
        height: 50px;
    }
    .card0 .card01 div p{
        text-size-adjust: 1px;
    }
}
@media only screen and (max-width:767.33px){
    .card0 .card01{
        width: 180px;
        height: 350px;
        background-color: white;
        margin: 20px 16px;
        justify-content: space-between;
    }
}
@media only screen and (max-width:587.33px){
    .card0{
        height: 240px;
    }
    .card0 .card01{
        width: 160px;
        height: 200px;
        background-color: white;
        margin: 20px 3px;
    }
    .card0 .card01 div{
        width: 55px;
        height: 70px;
        padding: 0px 0px;
        padding-left: 10px;
    }
    .card0 .card01 div img{
        width: 50px;
        height: 30px;
    }
    .card0 .card01 div h6{
        display: none;
    }
    .round {
        width: 100%;
        height: 430px;
        padding-left: 70px;  
    }
}
@media only screen and (max-width:491.33px){
    .nav1 .right{
        justify-content: space-between;
        text-align: center;
        display: flex;    
    }
    .nav1 .right .right1{
        width: 100px;
        display: flex;
        height: 30px;  
    }
    .nav1 .right .right1 h5{
        margin: 0px 0px;
    }
    .round {
        height: 250px; 
    }
    .round .round2{
        height: 80px;
        width: 60px;
        display: inline-block;
        justify-content: space-between;
        margin: 0px 30px;
    }
    .round .round2 img{
        height: 70px;
        width: 70px;
        border: none;
        border-radius: 73px;
    }
    .card0{
        height: 490px;
    }
    .card0 .card01{
        width: 160px;
        height: 430px;
        background-color: white;
        margin: 20px 3px;
    }
    .card0 .card01 div{
        width: 75px;
        height: 90px;
        padding: 0px 0px;
    }
    .card0 .card01 div img{
        width: 70px;
        height: 50px;
    }
}
@media only screen and (max-width:479px){
    .card0 h3{
        display: none;
    }
}
@media only screen and (max-width:456px){
    .round {
        height: 350px;
    }
    .card0{
        height: 500px;
    }
    .card0 .card01{
        width: 160px;
        height: 390px;
        background-color: white;
        margin: 20px 20px;
        padding-left: 10px;
    }
    footer{
        height: 700px;
        padding: 20px 0px;
    }
}
@media only screen and (max-width:476px){
    .card-container .card{
        flex-basis: 60%; 
    }
    .card-container .card2{
        flex-basis: 60%;
    }
    .nav1{
        position: relative;
        z-index: 2;
        height: 100px;
        background-color: var(--secondary-color);
        width:100%;
    }
    .nav2{
        height:auto;
    }
    .nav2 .nav2-right i{
        font-size: 15px;
        margin: 0px 5px;
    }
    .nav3{
        display: none;
    }
    .new{
        padding: 0px 50px;
    }
    .nav1 .right button{
        width: 60px;
        padding: 2px 2px;
    }
    .nav2 .nav2-right{
        flex: 60%
    }
    #menubar{
        top: 1%;
        font-size: 1.5rem;
        padding: 7px 5px;
        animation: animate 2s ease infinite;
    }
    .carousel-inner{
        width: 100%;
        height: 100px;
    }
    .nav1 .right .right1{
        width: 80px;
        display: flex;
        height: 30px;  
    }
}
@media only screen and (max-width:407.33px){
    .card0{
        height: 400px;
    }
    .card0 .card01{
        width: 160px;
        height: 350px;
        background-color: white;
        margin: 20px 3px;
    }
}
@media only screen and (max-width:365px){
    .nav1 .right button{
        margin: 5px 0px;
    }
    .nav2 .nav2-right{
        flex: 60%
    }
    .round {
        height: 420px;
        padding-left: 0px;
    }
}
@media only screen and (max-width:261.33px){
    #menubar{
        top: 1%;
        height: 20px;
        width: 20px;
    }
    .round .round2 img{
        height: 40px;
        width: 40px;
    }
    .round .round2{
        height: 80px;
        width: 60px;
        margin: 0px 10px;
    }
    .round {
        height: 320px;
    }
}
